.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container main {
  width: 60ch;
  text-align: center;
}

.translatedText {
  overflow-wrap: anywhere;
}
